.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*


#编译好的类文件
*.class
#maven -maven目标文件
target/
#eclipse --配置文件
.settings/
.project
.classpath
#idea--IDEA配置文件
.idea/
*.ipr
*.iml
*.iws